// bower:scss
// endbower

body {
  overflow-x: hidden;
  background-color: #ffffff;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}

.a-top {
  display: block;
  position: relative;
  width: 100%;
  padding: 8px 0;
  border-bottom: 1px solid #f2f2f2;
  background-color: #ffffff;
  & > .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__info {
    display: inline-block;
    i {
      display: inline-block;
      margin-right: 5px;
      color: #446288;
      font-size: 14px;
    }
    p {
      display: inline-block;
      margin: 0 20px 0 0;
      color: #446288;
      font-family: "PT Sans";
      font-size: 14px;
      font-weight: 400;
    }
    a {
      color: #446288;
      text-decoration: none;
      &:hover {
        color: #446288;
        text-decoration: underline;
      }
    }
  }
  &__phone {
    display: inline-block;
    color: #446288;
    font-family: "PT Sans";
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:focus,
    &:active {
      opacity: 0.7;
      color: #446288;
      text-decoration: none;
    }
  }
  &__button {
    display: inline-block;
    padding: 8px 17px;
    border-radius: 5px;
    border: 1px solid #446288;
    background: transparent;
    color: #446288;
    font-family: "PT Sans";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:focus,
    &:active {
      background: #446288;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__social {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    a {
      display: inline-block;
      margin: 2px 6px;
      color: #446288;
      font-size: 14px;
      font-weight: 400;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:focus,
      &:active {
        opacity: 0.7;
        color: #446288;
        text-decoration: none;
      }
    }
  }
}

.a-header {
  display: block;
  position: relative;
  width: 100%;
  padding: 14px 0;
  background: #ffffff;
  box-shadow: 0 16px 18px rgba(0, 0, 0, 0.07);
  & > .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:focus,
    &:active {
      opacity: 0.7;
      text-decoration: none;
    }

    &-text {
      display: block;
      margin: 0 0 0 35px;
      color: #a1bbd2;
      font-family: "PT Sans";
      font-size: 12px;
      font-weight: 400;
    }
    img {
      display: block;
      max-width: 100%;
    }
  }
  &__nav {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 900px;
    margin: 0;
    padding: 0;
    list-style: none;
    & > li {
      display: inline-block;
      position: relative;
      & > a {
        display: inline-block;
        padding: 6px 20px;
        color: #303030;
        font-family: "PT Sans";
        font-size: 18px;
        font-weight: 400;
        i {
          margin-left: 5px;
          font-size: 12px;
        }
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover,
        &:focus,
        &:active {
          color: #a1bbd2;
          text-decoration: none;
          i {
            color: #a1bbd2;
          }
        }
      }
    }
  }
  &__drop {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 230px;
    margin: 0;
    padding: 0;
    padding: 18px 15px 0 20px;
    list-style: none;
    border-radius: 5px;
    background-color: #a1bbd2;
    z-index: 9;
    li {
      display: block;
      a {
        display: block;
        margin: 0 0 16px 0;
        color: #ffffff;
        font-family: "PT Sans";
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover,
        &:focus,
        &:active {
          color: #446288;
          text-decoration: none;
        }
      }
    }
  }
  &__dropper {
    &:hover {
      .a-header__drop {
        display: block;
      }
    }
  }
}

.a-big {
  display: block;
  position: relative;
  width: 100%;
  &__cards {
    display: block;
    position: relative;
    width: 100%;
    .slick-next,
    .slick-prev {
      width: 57px;
      height: 57px;
      opacity: 0.7;
      z-index: 1;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 1;
      }
    }
    .slick-next {
      right: calc((100vw - 1200px) / 2 - 100px);
      background: url("../images/icon_next.png");
      &:before {
        display: none;
      }
    }
    .slick-prev {
      left: calc((100vw - 1200px) / 2 - 100px);
      background: url("../images/icon_prev.png");
      &:before {
        display: none;
      }
    }
  }
  &__card {
    display: block;
    position: relative;
    width: 100%;
    padding: 125px 0;
    background-position: center;
    background-size: cover;
  }
  &__content {
    display: block;
    width: 100%;
    max-width: 700px;
    margin: 0;
    padding: 65px 50px 70px 130px;
    border-radius: 5px;
    background-color: #ffffff;
  }
  &__title {
    display: block;
    height: 86px;
    margin: 0 0 20px 0;
    overflow: hidden;
    color: #303030;
    font-family: "PT Serif";
    font-size: 36px;
    font-weight: 700;
  }
  &__text {
    display: block;
    height: 84px;
    margin: 0 0 20px 0;
    overflow: hidden;
    color: #303030;
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: 400;
  }
  &__button {
    display: inline-block;
    padding: 11px 50px;
    border-radius: 5px;
    background: #446288;
    color: #ffffff;
    font-family: "PT Sans";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:focus,
    &:active {
      background: #446288;
      color: #ffffff;
      opacity: 0.8;
      text-decoration: none;
    }
  }
}

.a-home-double {
  display: block;
  position: relative;
  width: 100%;
}

.a-services {
  display: block;
  position: relative;
  width: 100%;
  padding: 25px 0 30px 0;
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0) 0%,
    #edf3f8 100%
  );
  &__title {
    display: block;
    margin: 0 auto 100px auto;
    color: #6b6b6b;
    font-family: "PT Serif";
    font-size: 25px;
    font-weight: 700;
    text-align: center;
  }
  &__subtitle {
    display: block;
    position: relative;
    margin: 0 0 20px 0;
    color: #303030;
    font-family: "PT Serif";
    font-size: 36px;
    font-weight: 700;
    z-index: 1;
    &:after {
      display: block;
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 410px;
      height: 490px;
      margin-top: -40px;
      margin-left: -120px;
      background: url("../images/services_after.png") no-repeat center;
      background-size: contain;
      pointer-events: none;
      z-index: -1;
    }
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 260px;
    min-height: 130px;
    margin: 0 30px 30px 0;
    padding: 20px 10px 5px 10px;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #ffffff;
    color: #303030;
    text-align: center;
    &-image {
      display: block;
      width: 50px;
      height: 50px;
      object-fit: scale-down;
      margin-bottom: 10px;
    }
    &-title {
      display: block;
      font-family: "PT Serif";
      font-size: 20px;
      font-weight: 400;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:focus,
    &:active {
      box-shadow: 0 5px 18px rgba(68, 98, 136, 0.59);
      background-image: linear-gradient(to left, #5679a5 0%, #446288 100%);
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.a-consult {
  display: block;
  position: relative;
  width: 100%;
  padding: 85px 0 110px 0;
  background: url("../images/consult_full_bg.jpg") no-repeat center top;
  background-size: cover;
  &__content {
    display: block;
    width: 100%;
    max-width: 570px;
    padding: 30px 130px 40px 40px;
    box-shadow: 0 16px 29px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #ffffff;
  }
  &__title {
    display: block;
    margin: 0 0 20px 0;
    color: #303030;
    font-family: "PT Serif";
    font-size: 36px;
    font-weight: 700;
  }
  &__text {
    display: block;
    margin: 0 0 30px 0;
    color: #303030;
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
  }
  &__form {
    display: block;
    width: 100%;
  }
  &__input {
    display: block;
    position: relative;
    width: 100%;
    input {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      padding: 5px 20px 5px 40px;
      border: 0;
      outline: 0;
      border-bottom: 1px solid #446288;
      background: #ffffff;
      color: #000000;
      font-family: "PT Sans";
      font-size: 18px;
      font-weight: 400;
      line-height: 1.33;
    }
    i {
      display: inline-block;
      position: absolute;
      top: 8px;
      font-size: 18px;
      color: #446288;
    }
  }
  &__button {
    display: inline-block;
    padding: 12px 42px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background-color: #446288;
    color: #ffffff;
    font-family: "PT Sans";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:focus,
    &:active {
      opacity: 0.7;
      text-decoration: none;
    }
  }
}

.a-features {
  display: block;
  position: relative;
  width: 100%;
  padding: 45px 0 60px 0;
  background: linear-gradient(to right, #bfd0e0 1%, #a1bbd2 100%);
  background-size: 100% 100%;
  &__title {
    display: block;
    margin: 0 auto 38px auto;
    color: #ffffff;
    font-family: "PT Serif";
    font-size: 36px;
    font-weight: 700;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 185px;
    margin: 0 0 30px 0;
    &-image {
      display: block;
      width: 70px;
      height: 70px;
      margin: 0 0 10px 0;
      object-fit: scale-down;
      object-position: 0 0;
    }
    &-title {
      display: block;
      margin: 0 0 14px 0;
      color: #ffffff;
      font-family: "PT Serif";
      font-size: 18px;
      font-weight: 700;
    }
    &-text {
      display: block;
      margin: 0;
      color: #ffffff;
      font-family: "PT Sans";
      font-size: 16px;
      font-weight: 400;
    }
  }
}

.a-seo {
  display: block;
  position: relative;
  width: 100%;
  padding: 90px 0 160px 0;
  color: #6b6b6b;
  &_top {
    padding-top: 175px;
  }
  ul {
    display: block;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    list-style: none;
    li {
      display: block;
      position: relative;
      width: 100%;
      margin-bottom: 5px;
      padding-left: 25px;
      &:before {
        content: "\f111";
        display: inline-block;
        position: absolute;
        left: 10px;
        top: 5px;
        color: #446288;
        font-family: "Font Awesome 5 Free";
        font-size: 6px;
      }
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    margin: 0 0 20px 0;
    color: #303030;
    font-family: "PT Serif";
    font-weight: 700;
  }
  p {
    display: block;
    margin: 0 0 10px 0;
    color: #6b6b6b;
    font-family: "PT Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  b,
  strong {
    font-weight: 700;
  }
  &__image {
    display: block;
    position: relative;
    max-width: 100%;
  }
  &__wrapper {
    position: relative;
    &:after {
      display: block;
      position: absolute;
      content: "";
      width: 633px;
      height: 633px;
      top: -90px;
      left: 130px;
      border: 50px solid #b7d0e5;
      border-radius: 999rem;
      opacity: 0.25;
      z-index: -1;
    }
  }
}

.a-useful {
  display: block;
  position: relative;
  width: 100%;
  padding: 70px 0 105px 0;
  background: #edf3f8 url("../images/useful_bg.jpg") no-repeat center;
  background-size: cover;
  &__title {
    display: block;
    margin: 0 auto 60px auto;
    color: #303030;
    font-family: "PT Serif";
    font-size: 36px;
    font-weight: 700;
    text-align: center;
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
    .slick-next,
    .slick-prev {
      width: 57px;
      height: 57px;
      opacity: 0.7;
      z-index: 1;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 1;
      }
    }
    .slick-next {
      margin-right: -60px;
      background: url("../images/icon_next.png");
      &:before {
        display: none;
      }
    }
    .slick-prev {
      margin-left: -60px;
      background: url("../images/icon_prev.png");
      &:before {
        display: none;
      }
    }
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 370px;
    &-image {
      display: block;
      width: 100%;
      height: 200px;
      margin-bottom: 35px;
      object-fit: cover;
    }
    &-title {
      display: block;
      height: 48px;
      margin: 0 0 10px 0;
      overflow: hidden;
      color: #303030;
      font-family: "PT Serif";
      font-size: 20px;
      font-weight: 700;
      transition: all 0.2s ease-out;
    }
    &-text {
      display: block;
      height: 96px;
      margin: 0 0 20px 0;
      overflow: hidden;
      color: #6b6b6b;
      font-family: "PT Sans";
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
    &-link {
      display: inline-flex;
      align-items: center;
      color: #446288;
      font-family: "PT Sans";
      font-size: 16px;
      font-weight: 400;
      opacity: 0.5;
      transition: all 0.2s ease-out;
      i {
        margin-left: 5px;
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:focus,
    &:active {
      .a-useful__card-title {
        color: #446288;
      }
      .a-useful__card-link {
        opacity: 1;
      }
      text-decoration: none;
    }
  }
}

.a-clients {
  display: block;
  position: relative;
  width: 100%;
  padding: 65px 0 105px 0;
  background: #f4f4f4;
  &__title {
    display: block;
    margin: 0 auto 70px auto;
    opacity: 0.37;
    color: #303030;
    font-family: "PT Serif";
    font-size: 36px;
    font-weight: 700;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  &__card {
    display: inline-block;
    width: 100%;
    max-width: 140px;
    margin: 0 47px 20px 47px;
    object-fit: scale-down;
  }
}

.a-footer {
  display: block;
  position: relative;
  width: 100%;
  padding: 50px 0;
  background: #45648a url("../images/footer_bg.jpg") no-repeat center;
  background-size: cover;
  & > .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:focus,
    &:active {
      opacity: 0.7;
      text-decoration: none;
    }
    img {
      max-width: 100%;
    }
  }
  &__social {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    a {
      display: inline-block;
      margin: 2px 6px;
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:focus,
      &:active {
        opacity: 0.7;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
  &__nav {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 770px;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      a {
        display: inline-block;
        color: #ffffff;
        font-family: "PT Sans";
        font-size: 18px;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover,
        &:focus,
        &:active {
          opacity: 0.7;
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
}

.a-bottom {
  display: block;
  position: relative;
  width: 100%;
  padding: 12px 0;
  &__creators {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    color: #707070;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 400;
    img {
      display: inline-block;
      margin: 0 2px 0 6px;
    }
    a {
      color: #707070;
      text-decoration: underline;
      &:hover {
        color: #707070;
        text-decoration: none;
      }
    }
  }
}

.a-reviews {
  display: block;
  position: relative;
  width: 100%;
  padding: 90px 0 80px 0;
  color: #303030;
  font-family: "PT Serif";
  font-size: 36px;
  font-weight: 700;
  &__title {
    display: block;
    margin: 0 auto 40px auto;
    color: #303030;
    font-family: "PT Serif";
    font-size: 36px;
    font-weight: 700;
    text-align: center;
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
    .slick-next,
    .slick-prev {
      width: 57px;
      height: 57px;
      opacity: 0.7;
      z-index: 1;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 1;
      }
    }
    .slick-next {
      margin-right: -60px;
      background: url("../images/icon_next.png");
      &:before {
        display: none;
      }
    }
    .slick-prev {
      margin-left: -60px;
      background: url("../images/icon_prev.png");
      &:before {
        display: none;
      }
    }
    .slick-dots li button:before {
      display: none;
    }
    .slick-dots li {
      width: 40px;
      height: 5px;
      margin: 0 5px;
      padding: 0;
      background: #446288;
      opacity: 0.5;
    }
    .slick-active {
      opacity: 1 !important;
    }
    .slick-dots {
      bottom: -50px;
    }
  }
  &__card {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 270px;
    padding: 35px 40px 40px 40px;
    border-radius: 5px;
    background: #6b8ba7 url("../images/review_bg.jpg") no-repeat center;
    background-size: cover;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active {
      color: #ffffff;
      text-decoration: none;
      .a-reviews__card-overflow {
        display: flex;
      }
    }
    &-overflow {
      display: none;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: 5px;
      background: rgba(68, 98, 136, 0.8);
      transition: all 0.2s ease-out;
    }
    &-content {
      display: block;
      height: 120px;
      overflow: hidden;
    }
    &-title {
      display: block;
      margin: 0 0 10px 0;
      color: #ffffff;
      font-family: "PT Serif";
      font-size: 20px;
      font-weight: 700;
    }
    &-who {
      display: block;
      margin: 0;
      color: #ffffff;
      font-family: "PT Serif";
      font-size: 16px;
      font-weight: 400;
    }
    &-main {
      display: block;
      width: 100%;
      height: 225px;
      padding-left: 30px;
      background: url("../images/icon_quote.png") no-repeat left center;
      background-size: contain;
    }
    &-image {
      display: inline-block;
      width: 100%;
      max-width: 160px;
      height: 225px;
      object-fit: cover;
    }
  }
}

.a-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;
  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.8);
  }
  &__close {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 570px;
    margin: 10px 0;
    padding: 100px 80px 120px 80px;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background: #a1bbd2 url("../images/modal_bg.jpg") no-repeat left top;
    background-size: cover;
  }
  &__title {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 20px 0;
    color: #ffffff;
    font-family: "PT Serif";
    font-size: 36px;
    font-weight: 700;
  }
  &__subtitle {
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    color: #ffffff;
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
  }
  &__form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    ::placeholder {
      color: #e1f1ff;
    }
  }
  &__input {
    display: block;
    position: relative;
    width: 100%;
    input {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      padding: 5px 20px 5px 40px;
      border: 0;
      outline: 0;
      border-bottom: 1px solid #446288;
      background: transparent;
      color: #ffffff;
      font-family: "PT Sans";
      font-size: 18px;
      font-weight: 400;
      line-height: 1.33;
    }
    i {
      display: inline-block;
      position: absolute;
      top: 8px;
      font-size: 18px;
      color: #446288;
    }
  }
  &__button {
    display: inline-block;
    padding: 12px 42px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background-color: #446288;
    color: #ffffff;
    font-family: "PT Sans";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:focus,
    &:active {
      opacity: 0.7;
      text-decoration: none;
    }
  }
}

.a-header__mob {
  display: none;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease-out;
  &:hover,
  &:focus,
  &:active {
    opacity: 0.7;
    text-decoration: none;
  }
}

.a-breadcrumps {
  display: block;
  position: relative;
  width: 100%;
  padding: 14px 0;
  background-color: #446288;
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  a {
    color: #ffffff;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:focus,
    &:active {
      opacity: 0.7;
      text-decoration: none;
    }
  }
  ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
    }
  }
}

.a-page-services {
  display: block;
  position: relative;
  width: 100%;
  padding: 55px 0 100px 0;
  background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, #edf3f8 100%),
    url("../images/services_page_bg.png") no-repeat center;
  &__title {
    display: block;
    margin: 0 auto 24px auto;
    color: #303030;
    font-family: "PT Serif";
    font-size: 36px;
    font-weight: 700;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 270px;
    min-height: 130px;
    margin: 0 0 30px 0;
    padding: 20px 10px 5px 10px;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #ffffff;
    color: #303030;
    text-align: center;
    &-image {
      display: block;
      width: 50px;
      height: 50px;
      object-fit: scale-down;
      margin-bottom: 10px;
    }
    &-title {
      display: block;
      font-family: "PT Serif";
      font-size: 20px;
      font-weight: 400;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:focus,
    &:active {
      box-shadow: 0 5px 18px rgba(68, 98, 136, 0.59);
      background-image: linear-gradient(to left, #5679a5 0%, #446288 100%);
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.a-page-seo {
  display: block;
  position: relative;
  width: 100%;
  padding: 70px 0 30px 0;
  background: #a1bbd2 url("../images/seo_bg.jpg") no-repeat center;
  background-size: cover;
  color: #ffffff;
  &_top {
    padding-top: 175px;
  }
  ul {
    display: block;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    list-style: none;
    li {
      display: block;
      position: relative;
      width: 100%;
      margin-bottom: 5px;
      padding-left: 25px;
      &:before {
        content: "\f111";
        display: inline-block;
        position: absolute;
        left: 10px;
        top: 5px;
        color: #ffffff;
        font-family: "Font Awesome 5 Free";
        font-size: 6px;
      }
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    margin: 0 0 20px 0;
    color: #ffffff;
    font-family: "PT Serif";
    font-weight: 700;
  }
  p {
    display: block;
    margin: 0 0 10px 0;
    color: #ffffff;
    font-family: "PT Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  b,
  strong {
    font-weight: 700;
  }
  &__image {
    display: block;
    position: relative;
    max-width: 100%;
  }
  &__wrapper {
    position: relative;
    &:after {
      display: block;
      position: absolute;
      content: "";
      width: 633px;
      height: 633px;
      top: -90px;
      left: 130px;
      border: 50px solid #b7d0e5;
      border-radius: 999rem;
      opacity: 0.25;
      z-index: -1;
    }
  }
}

.a-page-reviews {
  display: block;
  position: relative;
  width: 100%;
  padding: 55px 0;
  &__pages {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #a1bbd2;
    font-family: "PT Sans";
    font-size: 26px;
    font-weight: 700;
    &_active {
      color: #446288 !important;
    }
    a {
      display: inline-block;
      padding: 4px 8px;
      color: #a1bbd2;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:focus,
      &:active {
        color: #446288;
        text-decoration: none;
        i {
          color: #446288;
        }
      }
    }
    li {
      display: inline-block;
    }
  }
  &__title {
    display: block;
    margin: 0 auto 30px auto;
    color: #303030;
    font-family: "PT Serif";
    font-size: 36px;
    font-weight: 700;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    width: 100%;
    padding-bottom: 50px;
  }
  &__card {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 270px;
    margin-bottom: 30px;
    padding: 35px 40px 40px 40px;
    border-radius: 5px;
    background: #6b8ba7 url("../images/review_bg.jpg") no-repeat center;
    background-size: cover;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active {
      color: #ffffff;
      text-decoration: none;
      .a-page-reviews__card-overflow {
        display: flex;
      }
    }
    &-overflow {
      display: none;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: 5px;
      background: rgba(68, 98, 136, 0.8);
      transition: all 0.2s ease-out;
    }
    &-content {
      display: block;
      height: 120px;
      overflow: hidden;
    }
    &-title {
      display: block;
      margin: 0 0 10px 0;
      color: #ffffff;
      font-family: "PT Serif";
      font-size: 20px;
      font-weight: 700;
    }
    &-who {
      display: block;
      margin: 0;
      color: #ffffff;
      font-family: "PT Serif";
      font-size: 16px;
      font-weight: 400;
    }
    &-main {
      display: block;
      width: 100%;
      height: 225px;
      padding-left: 30px;
      background: url("../images/icon_quote.png") no-repeat left center;
      background-size: contain;
    }
    &-image {
      display: inline-block;
      width: 100%;
      max-width: 160px;
      height: 225px;
      object-fit: cover;
    }
  }
}

.a-stocks {
  display: block;
  position: relative;
  width: 100%;
  padding: 55px 0 25px 0;
  &__title {
    display: block;
    margin: 0 0 35px 0;
    color: #303030;
    font-family: "PT Serif";
    font-size: 36px;
    font-weight: 700;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__card {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 570px;
    min-height: 220px;
    margin: 0 0 30px 0;
    padding: 0;
    border-radius: 5px;
    border: 1px solid #6b8ba7;
    background: #6b8ba7 url("../images/stock_card_bg.jpg") no-repeat center;
    background-size: cover;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active {
      color: #ffffff;
      text-decoration: none;
      .a-stocks__card-arrow {
        background: linear-gradient(to bottom, #94abbf 0%, #6c8ba7 100%);
        img {
          filter: brightness(0) invert(1);
        }
      }
    }
    &-image {
      display: inline-block;
      width: 100%;
      max-width: 200px;
      height: 200px;
      margin: 10px 30px 10px 10px;
      object-fit: cover;
    }
    &-content {
      display: inline-block;
      width: 100%;
      max-width: 250px;
      height: 172px;
      margin: 10px 0;
      overflow: hidden;
    }
    &-title {
      display: block;
      height: 90px;
      overflow: hidden;
      margin: 0 0 10px 0;
      color: #ffffff;
      font-family: "PT Serif";
      font-size: 20px;
      font-weight: 700;
      line-height: 1.5;
    }
    &-text {
      display: block;
      margin: 0;
      color: #ffffff;
      font-family: "PT Sans";
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
    &-arrow {
      display: flex;
      align-items: center;
      align-items: center;
      height: 220px;
      padding: 25px;
      border-radius: 0 5px 5px 0;
      border-left: 1px solid #6b8ba7;
      transition: all 0.2s ease-out;
      img {
        transition: all 0.2s ease-out;
      }
    }
  }
}

.a-service {
  display: block;
  position: relative;
  width: 100%;
  padding: 50px 0 40px 0;
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0) 0%,
    #edf3f8 100%
  );
  &__big {
    display: block;
    position: relative;
    width: 670px;
    height: 450px;
    object-fit: cover;
  }
  &__main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    margin-top: 90px;
    padding: 35px 40px 40px 40px;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: 1px solid #fcfcfc;
    background-color: #ffffff;
    &:after {
      display: block;
      position: absolute;
      content: "";
      width: 415px;
      height: 415px;
      left: -75px;
      top: -75px;
      background: url("../images/service_after.png") no-repeat center;
      background-size: contain;
      z-index: -1;
    }
  }
  &__title {
    display: block;
    margin: 0 0 18px 0;
    color: #303030;
    font-family: "PT Serif";
    font-size: 30px;
    font-weight: 700;
  }
  &__what {
    display: block;
    margin: 0 0 10px 0;
    color: #343434;
    font-family: "PT Sans";
    font-size: 16px;
    font-weight: 400;
  }
  &__price {
    display: block;
    margin: 0 0 26px 0;
    color: #343434;
    font-family: "PT Sans";
    font-size: 16px;
    font-weight: 400;
    b,
    strong {
      display: inline-block;
      margin: 0 5px;
      color: #446288;
      font-family: "PT Serif";
      font-size: 40px;
      font-weight: 700;
    }
  }
  &__button {
    display: inline-block;
    padding: 12px 70px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background-color: #446288;
    color: #ffffff;
    font-family: "PT Sans";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:focus,
    &:active {
      opacity: 0.7;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__seo {
    display: block;
    padding: 60px 0 20px 0;
    ul {
      display: block;
      margin: 0;
      margin-top: 5px;
      padding: 0;
      list-style: none;
      li {
        display: block;
        position: relative;
        width: 100%;
        margin-bottom: 5px;
        padding-left: 25px;
        &:before {
          content: "\f111";
          display: inline-block;
          position: absolute;
          left: 10px;
          top: 5px;
          color: #446288;
          font-family: "Font Awesome 5 Free";
          font-size: 6px;
        }
      }
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: block;
      margin: 0 0 20px 0;
      color: #6b6b6b;
      font-family: "PT Serif";
      font-weight: 700;
    }
    p {
      display: block;
      margin: 0 0 10px 0;
      color: #6b6b6b;
      font-family: "PT Sans";
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
    b,
    strong {
      color: #6b6b6b;
      font-weight: 700;
    }
  }
  &__steps {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 440px;
    padding: 50px 40px 60px 40px;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background: #a1bbd2 url("../images/steps_bg.jpg") no-repeat center;
    background-size: cover;
  }
  &__row {
    display: flex;
    align-items: center;
    width: 100%;
  }
  &__number {
    display: inline-block;
    width: 50px;
    text-shadow: 3px 4px 10px rgba(68, 98, 136, 0.46);
    color: #c7d6e4;
    font-family: "PT Serif";
    font-size: 60px;
    font-weight: 700;
  }
  &__step {
    display: inline-block;
    max-width: 230px;
    margin: 0;
    color: #ffffff;
    font-family: "PT Serif";
    font-size: 20px;
    font-weight: 700;
  }
}

.a-about {
  display: block;
  position: relative;
  width: 100%;
  padding: 55px 0 190px 0;
  &__top {
    padding-bottom: 100px;
  }
  &__title {
    display: block;
    margin: 0 0 45px 0;
    color: #303030 !important;
    font-family: "PT Serif";
    font-size: 36px;
    font-weight: 700;
    text-align: center;
  }
  &__small {
    display: block;
    position: relative;
    &:after {
      display: block;
      position: absolute;
      content: "";
      width: 319px;
      height: 319px;
      top: -50px;
      left: -120px;
      background: url("../images/about_after.png") no-repeat center;
      background-size: contain;
      z-index: -1;
    }
    img {
      max-width: 100%;
      margin: 0 auto 20px auto;
    }
  }
  &__big {
    display: block;
    position: relative;
    &:after {
      display: block;
      position: absolute;
      content: "";
      width: 633px;
      height: 633px;
      top: -90px;
      left: 130px;
      background: url("../images/about_after_2.png") no-repeat center;
      background-size: contain;
      z-index: -1;
    }
    img {
      max-width: 100%;
      margin: 0 auto 20px auto;
    }
  }
  ul {
    display: block;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    list-style: none;
    li {
      display: block;
      position: relative;
      width: 100%;
      margin-bottom: 5px;
      padding-left: 25px;
      &:before {
        content: "\f111";
        display: inline-block;
        position: absolute;
        left: 10px;
        top: 5px;
        color: #446288;
        font-family: "Font Awesome 5 Free";
        font-size: 6px;
      }
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    margin: 0 0 20px 0;
    color: #6b6b6b;
    font-family: "PT Serif";
    font-weight: 700;
  }
  p {
    display: block;
    margin: 0 0 10px 0;
    color: #6b6b6b;
    font-family: "PT Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  b,
  strong {
    color: #6b6b6b;
    font-weight: 700;
  }
}

.a-workers {
  display: block;
  position: relative;
  width: 100%;
  padding: 70px 0 120px 0;
  &__title {
    display: block;
    margin: 0 0 55px 0;
    color: #303030;
    font-family: "PT Serif";
    font-size: 36px;
    font-weight: 700;
    text-align: center;
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
    .slick-next,
    .slick-prev {
      width: 57px;
      height: 57px;
      opacity: 0.7;
      z-index: 1;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 1;
      }
    }
    .slick-next {
      margin-right: -60px;
      background: url("../images/icon_next.png");
      &:before {
        display: none;
      }
    }
    .slick-prev {
      margin-left: -60px;
      background: url("../images/icon_prev.png");
      &:before {
        display: none;
      }
    }
    .slick-dots li button:before {
      display: none;
    }
    .slick-dots li {
      width: 40px;
      height: 5px;
      margin: 0 5px;
      padding: 0;
      background: #446288;
      opacity: 0.5;
    }
    .slick-active {
      opacity: 1 !important;
    }
    .slick-dots {
      bottom: -70px;
    }
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 270px;
    &-image {
      display: block;
      width: 100%;
      height: 300px;
      object-fit: cover;
      margin-bottom: 18px;
    }
    &-title {
      display: block;
      height: 48px;
      overflow: hidden;
      margin: 0 0 10px 0;
      color: #303030;
      font-family: "PT Serif";
      font-size: 20px;
      font-weight: 700;
    }
    &-text {
      display: block;
      height: 48px;
      overflow: hidden;
      margin: 0;
      color: #6b6b6b;
      font-family: "PT Sans";
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:focus,
    &:active {
      opacity: 0.7;
      color: #303030;
      text-decoration: none;
    }
  }
}

.a-1c {
  display: block;
  position: relative;
  width: 100%;
  padding: 60px 0 120px 0;
  &:after {
    display: block;
    position: absolute;
    content: "";
    height: 35%;
    width: 100%;
    bottom: 0;
    left: 0;
    background: #f4f4f4;
    z-index: -1;
  }
  &__title {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 65px;
    color: #303030;
    font-family: "PT Serif";
    font-size: 36px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    span {
      margin-bottom: -5px;
    }
    img {
      display: inline-block;
      margin: 0 15px;
    }
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
    .slick-next,
    .slick-prev {
      width: 57px;
      height: 57px;
      opacity: 0.7;
      z-index: 1;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 1;
      }
    }
    .slick-next {
      margin-right: -60px;
      background: url("../images/icon_next.png");
      &:before {
        display: none;
      }
    }
    .slick-prev {
      margin-left: -60px;
      background: url("../images/icon_prev.png");
      &:before {
        display: none;
      }
    }
    .slick-next,
    .slick-prev {
      top: 60%;
    }
    .slick-dots li button:before {
      display: none;
    }
    .slick-dots li {
      width: 40px;
      height: 5px;
      margin: 0 5px;
      padding: 0;
      background: #446288;
      opacity: 0.5;
    }
    .slick-active {
      opacity: 1 !important;
    }
    .slick-dots {
      bottom: -70px;
    }
  }
  &__card {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 285px;
    height: 285px;
    padding: 0 8px;
    overflow: hidden;
    border-bottom: 2px solid #a4a4a4;
    &-image {
      display: block;
      position: relative;
      width: 100%;
      height: 285px;
      margin-top: 50px;
      object-fit: cover;
      transition: all 0.2s ease-out;
      filter: grayscale(1);
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:focus,
    &:active {
      .a-1c__card-image {
        margin-top: 0;
        filter: grayscale(0);
      }
      text-decoration: none;
    }
  }
}

.a-contacts {
  display: block;
  position: relative;
  width: 100%;
  padding: 55px 0 200px 0;
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0) 0%,
    #edf3f8 100%
  );
  &__title {
    display: block;
    margin: 0 0 140px 0;
    color: #303030;
    font-family: "PT Serif";
    font-size: 36px;
    font-weight: 700;
    text-align: center;
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 470px;
    min-height: 450px;
    padding: 35px 40px 40px 40px;
    box-shadow: 0 16px 29px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #ffffff;
    &:after {
      display: block;
      position: absolute;
      content: "";
      width: 633px;
      height: 633px;
      right: 50px;
      top: -85px;
      background: url("../images/contacts_after.png") no-repeat center;
      background-size: contain;
      z-index: -1;
    }
    &-title {
      display: block;
      margin: 0 0 30px 0;
      color: #303030;
      font-family: "PT Serif";
      font-size: 22px;
      font-weight: 400;
      b,
      strong {
        font-weight: 700;
      }
    }
    &-wrap {
      display: block;
      width: 100%;
    }
    &-phone {
      display: block;
      margin: 0 0 18px 0;
      color: #446288;
      font-family: "PT Sans";
      font-size: 24px;
      font-weight: 700;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:focus,
      &:active {
        opacity: 0.7;
        color: #446288;
        text-decoration: none;
      }
    }
    &-row {
      display: flex;
      align-items: center;
      margin: 0 0 20px 0;
      color: #446288;
      font-family: "PT Sans";
      font-size: 14px;
      font-weight: 400;
      a {
        color: #446288;
        text-decoration: underline;
        &:hover {
          color: #446288;
          text-decoration: none;
        }
      }
      p {
        margin: 0;
      }
      i {
        margin-right: 5px;
      }
    }
    &-button {
      display: inline-flex;
      align-items: center;
      margin: 0;
      padding: 11px 25px;
      border-radius: 5px;
      background-color: #446288;
      color: #ffffff;
      font-family: "PT Sans";
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      i {
        margin-right: 10px;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:focus,
      &:active {
        opacity: 0.7;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
  &__map {
    display: block;
    position: relative;
    width: 100%;
    height: 450px;
  }
}

@media (min-width: 1500px) {
  .a-big__content {
    margin-left: -130px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1199px) {
  .a-page-services {
    padding: 30px 0;
  }
  .a-page-services__title {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .a-page-services__cards {
    justify-content: space-around;
  }
  .a-page-services__card {
    margin-bottom: 10px;
  }
  .a-page-seo {
    padding: 30px;
  }
  .a-header__wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
  }
  .a-header__mob {
    display: inline-block;
  }
  .a-big__cards .slick-next {
    right: 5px;
  }
  .a-big__cards .slick-prev {
    left: 5px;
  }
  .a-seo__wrapper:after {
    display: none;
  }
  .a-useful__cards .slick-next {
    margin-right: 5px;
  }
  .a-useful__cards .slick-prev {
    margin-left: 5px;
  }
  .a-reviews__cards .slick-next {
    margin-right: 5px;
  }
  .a-reviews__cards .slick-prev {
    margin-left: 5px;
  }
  .a-reviews__card {
    display: block !important;
    margin: 0 auto;
  }
  .a-services__subtitle:after {
    display: none;
  }
  .a-big__card {
    padding: 40px 0;
  }
  .a-big__content {
    padding: 20px 10px;
  }
  .a-big__title {
    height: 78px;
    font-size: 22px;
  }
  .a-services__title {
    margin-bottom: 20px;
  }
  .a-services__subtitle {
    font-size: 28px;
    text-align: center;
  }
  .a-services__cards {
    justify-content: space-around;
  }
  .a-services__card {
    margin: 0 auto 10px auto;
  }
  .a-consult {
    padding: 30px 0;
  }
  .a-consult__content {
    padding: 20px 10px;
  }
  .a-consult__title {
    font-size: 28px;
    text-align: center;
  }
  .a-consult__text {
    margin-bottom: 15px;
    text-align: center;
  }
  .a-consult__input input {
    margin-bottom: 20px;
  }
  .a-consult__button {
    display: block;
    width: 100%;
  }
  .a-consult {
    background: #edf3f8;
  }
  .a-features {
    padding: 30px 0;
  }
  .a-features__title {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .a-features__cards {
    justify-content: space-around;
  }
  .a-features__card {
    align-items: center;
    text-align: center;
  }
  .a-reviews {
    padding: 30px 0;
  }
  .a-reviews__title {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .a-seo {
    padding: 30px 0;
  }
  .a-useful {
    padding: 30px 0;
  }
  .a-useful__title {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .a-clients {
    padding: 30px 0;
  }
  .a-clients__title {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .a-clients__cards {
    justify-content: space-around;
  }
  .a-clients__card {
    margin-bottom: 20px;
  }
  .a-footer {
    padding: 20px 0;
  }
  .a-footer > .container {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .a-footer__nav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    li {
      display: block;
      a {
        display: block;
        padding: 6px 12px;
      }
    }
  }
  .a-header__nav > li > a i {
    display: none;
  }
  .a-header__dropper:hover .a-header__drop {
    display: none;
  }
  .a-top {
    .a-top__info {
      display: none;
    }
  }
  .a-header {
    padding: 10px 0;
  }
  .a-top__info p {
    margin: 0 0 6px 0;
  }
  .a-header__nav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0;
    li {
      display: block;
      a {
        display: block;
        text-align: center;
      }
    }
  }
  .a-modal__content {
    padding: 20px;
  }
  .a-modal__title {
    font-size: 28px;
  }
  .a-modal__input input {
    margin-bottom: 20px;
  }
  .a-modal__button {
    display: block;
    width: 100%;
  }
  .a-header__nav {
    display: none;
  }
  .a-page-reviews {
    padding: 30px 0;
  }
  .a-page-reviews__title {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .a-page-reviews__card {
    margin-bottom: 10px;
  }
  .a-page-reviews__cards {
    justify-content: space-around;
    padding-bottom: 20px;
  }
  .a-stocks {
    padding: 30px 0;
  }
  .a-stocks__title {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .a-stocks__card {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    text-align: center;
  }
  .a-stocks__card-arrow {
    display: none;
  }
  .a-stocks__card-image {
    margin: 10px 10px 20px 10px;
  }
  .a-stocks__card-content {
    height: auto;
    margin: 0 0 20px 0;
  }
  .a-service {
    padding: 30px 0;
  }
  .a-service__big {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 200px;
  }
  .a-service__main {
    margin-top: 20px;
    padding: 20px 15px;
  }
  .a-service__title {
    margin-bottom: 10px;
    font-size: 28px;
  }
  .a-service__seo {
    padding-top: 20px;
  }
  .a-service__steps {
    min-height: auto;
    padding: 20px 15px;
  }
  .a-service__row {
    margin-bottom: 20px;
  }
  .a-service__main:after {
    display: none;
  }
  .a-about__big:after {
    display: none;
  }
  .a-about__small:after {
    display: none;
  }
  .a-workers__cards .slick-next {
    margin-right: 5px;
  }
  .a-workers__cards .slick-prev {
    margin-left: 5px;
  }
  .a-1c__cards .slick-next {
    margin-right: 5px;
  }
  .a-1c__cards .slick-prev {
    margin-left: 5px;
  }
  .a-1c {
    padding: 20px 0 5px 0;
  }
  .a-1c__title {
    margin-bottom: 5px;
    text-align: center;
    span {
      margin: 0 0 5px 0;
    }
  }
  .a-workers {
    padding: 20px 0;
  }
  .a-workers__title {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .a-about {
    padding: 20px 0;
  }
  .a-about__top {
    padding: 0;
  }
  .a-contacts {
    padding: 30px 0;
  }
  .a-contacts__title {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .a-contacts__content {
    padding: 20px;
  }
  .a-contacts__content-title {
    margin-bottom: 20px;
    font-size: 20px;
  }
  .a-contacts__content {
    min-height: auto;
  }
  .a-contacts__map {
    height: 300px;
  }
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}
